<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Haushaltskassen-Service</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" href="../static/css/styles.css"/>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>Haushaltskassen-Service</h1>
    </div>


    <p th:text="'Hallo ' + ${principal} + ','">Hello</p>

    <form action="#" th:action="@{/transaction}" th:object="${transactionFormBean}" method="post">
        <div class="form-group">
            <label for="amount">Betrag</label>
            <input type="number" step="0.01" id="amount" class="form-control" th:field="*{amount}"/>
        </div>
        <div class="form-group">
            <label for="description">Beschreibung</label>
            <input type="text" id="description" class="form-control" th:field="*{description}"/>
        </div>
        <button type="submit" class="btn btn-primary">Senden</button>
    </form>

    <div class="transactions-table table-responsive" th:if="${not #lists.isEmpty(recentTransactions)}">
        <hr/>
        <p><strong th:text="'Ausgaben für ' + ${currentMonth}">Ausgaben für</strong></p>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Betrag</th>
                    <th>Beschreibung</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="t : ${recentTransactions}">
                    <td th:text="${t.amount}">20.2</td>
                    <td th:text="${t.description}">Test</td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr/>

    <form action="#" th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-link btn-block">Logout</button>
    </form>

</div>

</body>
</html>